* {
   box-sizing: border-box;
}

@font-face {
   font-family: 'Bold';
   src: url('../public/fonts/StabilGrotesk-Bold.otf') format('OpenType');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Regular';
   src: url('../public/fonts/StabilGrotesk-Regular.otf') format('OpenType');
   font-weight: normal;
   font-style: normal;
}

/* @font-face {
   font-family: 'Glorify_Light';
   src: url('../public/fonts/Glorify-Light.otf') format('OpenType');
   font-weight: normal;
   font-style: normal;
} */

:root {
   --black: #000;
   --chineseBlack: #0f171f;
   --white: #fff;
   --yellow: #F6AE4C;
   --transparent: transparent;
   --transition: cubic-bezier(.06, .54, .9, .94);
   --bold: 'Bold';
   --regular: 'Regular';
   --silver: #e5e5e5;
}

::-webkit-scrollbar {
   width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: normal;
   margin-block-start: 0;
   margin-block-end: 0;
   font-size-adjust: auto;
}

html.has-scroll-smooth {
   overflow: hidden;
}

.has-scroll-smooth body {
   overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
   min-height: 100vh;
   perspective: 1px;
}

main {
   overflow: hidden;
   height: 100%;
}

html,
body,
main {
   width: 100%;
   position: relative;
   font-size-adjust: auto;
   background: var(--white);
   -webkit-font-smoothing: antialiased;
}

.magnetic_button {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
}